<form action="" method="get">
    <h1>{{ question.question_text }}</h1>
    <!-- <ul>
    {% for choice in question.choice_set.all %}
        <li>{{ choice.choice_text }}</li>
    {% endfor %}
    </ul> -->
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
    <div>
        <input type="radio" name="choice" value="{{choice.id}}" id = "{{choice.id}}" /> 
        <label for="{{choice.id}}"> {{ choice.choice_text }} </label>
        <!-- <label><input type="radio" name="choice" value="{{choice.id}}" id = "{{choice.id}}" /> {{ choice.choice_text }} </label> -->
    </div>
    {% endfor %}
<input type="submit" value="전송" />
</form>